In [87]:
import IPython.display
import ipyvolume.pylab as p3d
import matplotlib.cm
import matplotlib.pyplot as plt
%matplotlib inline

In [113]:
import pandas as pd
import tiledb

In [89]:
tiledb.libtiledb.version()

(1, 2, 1)

In [90]:
ctx = tiledb.Ctx()
ctx.config()

Parameter                       | Value
------------------------------- | ----------------
sm.array_schema_cache_size      | '10000000'
sm.fragment_metadata_cache_size | '10000000'
sm.tile_cache_size              | '10000000'
vfs.hdfs.kerb_ticket_cache_path | ''
vfs.hdfs.name_node_uri          | ''
vfs.hdfs.username               | ''
vfs.s3.connect_timeout_ms       | '3000'
vfs.s3.endpoint_override        | 'localhost:9999'
vfs.s3.file_buffer_size         | '5242880'
vfs.s3.region                   | ''
vfs.s3.request_timeout_ms       | '3000'
vfs.s3.scheme                   | 'http'
vfs.s3.use_virtual_addressing   | 'false'

In [107]:
arr = tiledb.SparseArray.load(ctx, "data/ohio_lidar_decimated")

In [108]:
arr.domain

Domain(Dim(name='x', domain=(0, 4200000000), tile=1000, dtype=uint32),
       Dim(name='y', domain=(0, 4200000000), tile=1000, dtype=uint32),
       Dim(name='z', domain=(0, 4200000000), tile=1000, dtype=uint32))

In [109]:
data = arr[:]
data["coords"][:20]

array([(2382983788, 2186071103, 2147587200),
       (2382983933, 2186359524, 2147588348),
       (2382983865, 2186623654, 2147595522),
       (2382983690, 2186666908, 2147592876),
       (2382983874, 2186709484, 2147590378),
       (2382983928, 2186795617, 2147590170),
       (2382983992, 2186979067, 2147597525),
       (2382983744, 2187048743, 2147592159),
       (2382983929, 2187068321, 2147591187),
       (2382983834, 2187331414, 2147592557),
       (2382983739, 2187864598, 2147605952),
       (2382983841, 2188245407, 2147603342),
       (2382983851, 2188330208, 2147597687),
       (2382983788, 2188347701, 2147598574),
       (2382983709, 2188532994, 2147606252),
       (2382983772, 2188860454, 2147609829),
       (2382983831, 2188952402, 2147610608),
       (2382983757, 2188984431, 2147615447),
       (2382983881, 2189037484, 2147622872),
       (2382983664, 2189092657, 2147619503)],
      dtype=[('x', '<u4'), ('y', '<u4'), ('z', '<u4')])

In [110]:
X = data["coords"]['x'][::10].astype(float)
Y = data["coords"]['y'][::10].astype(float)
Z = data["coords"]['z'][::10].astype(float) * 10 # need to give some height to this state
Xadj = X - X.min()
Yadj = Y - Y.min()
Zadj = Z - Z.min()

In [111]:
fig = p3d.figure(width=1000)
fig.xlabel='Y'
fig.ylabel='Z'
fig.zlabel='X'
all_points = p3d.scatter(Yadj, Zadj, Xadj, color='red', size=0.08)
p3d.squarelim()
p3d.show()

VBox(children=(Figure(camera_center=[0.0, 0.0, 0.0], height=500, matrix_projection=[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], matrix_world=[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], scatters=[Scatter(color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([ 5087126.,  6880621.,  8143995., ...,  9552853.,  9801325.,
       10571636.]), y=array([373070., 560590., 631000., ..., 458350., 377030., 396260.]), z=array([5.3000000e+01, 4.0000000e+00, 6.0000000e+01, ..., 1.6499825e+07,
       1.6499451e+07, 1.6499319e+07]))], style={'axes': {'visible': True, 'label': {'color': 'black'}, 'ticklabel': {'color': 'black'}, 'color': 'black'}, 'box': {'visible': True}, 'background-color': 'white'}, tf=None, width=1000, xlabel='Y', xlim=[-1500176.5, 14999722.5], ylabel='Z', ylim=[-7835309.5, 8664589.5], zlabel='X', zlim=[0.0, 16499899.0]),))

In [112]:
# Select out the interesting columsns
df = pd.DataFrame(data=data, columns=["coords", "intensity", "classification", "point_source_id"])
df

,coords,intensity,classification,point_source_id
0,"(2382983788, 2186071103, 2147587200)",232,2,48
1,"(2382983933, 2186359524, 2147588348)",232,2,48
2,"(2382983865, 2186623654, 2147595522)",233,2,48
3,"(2382983690, 2186666908, 2147592876)",214,2,48
4,"(2382983874, 2186709484, 2147590378)",227,2,48
5,"(2382983928, 2186795617, 2147590170)",225,2,48
6,"(2382983992, 2186979067, 2147597525)",229,2,48
7,"(2382983744, 2187048743, 2147592159)",226,2,48
8,"(2382983929, 2187068321, 2147591187)",228,2,48
9,"(2382983834, 2187331414, 2147592557)",137,2,48
10,"(2382983739, 2187864598, 2147605952)",226,2,48
11,"(2382983841, 2188245407, 2147603342)",225,2,48
12,"(2382983851, 2188330208, 2147597687)",226,1,48
13,"(2382983788, 2188347701, 2147598574)",226,2,48
14,"(2382983709, 2188532994, 2147606252)",227,2,48
15,"(2382983772, 2188860454, 2147609829)",226,1,48
16,"(2382983831, 2188952402, 2147610608)",226,2,48
17,"(2382983757, 2188984431, 2147615447)",5,5,48
18,"(2382983881, 2189037484, 2147622872)",9,5,48
19,"(2382983664, 2189092657, 2147619503)",87,5,48
20,"(2382983795, 2189127972, 2147612993)",225,2,48
21,"(2382983772, 2189170380, 2147615150)",228,2,48
22,"(2382983975, 2189187273, 2147618858)",44,1,48
23,"(2382983908, 2189314422, 2147611939)",223,1,48
24,"(2382983667, 2189490134, 2147616282)",2,5,48
25,"(2382983761, 2189776908, 2147612270)",79,5,48
26,"(2382983982, 2189795243, 2147607510)",218,2,48
27,"(2382983981, 2189996125, 2147611554)",227,2,48
28,"(2382983930, 2190120653, 2147617651)",50,5,48
29,"(2382983755, 2190194390, 2147612293)",226,2,48
...,...,...,...,...
4263116,"(2399483397, 2190252455, 2147609934)",7,5,88
4263117,"(2399483316, 2190302813, 2147604236)",8,1,88
4263118,"(2399483460, 2190313265, 2147608233)",4,5,88
4263119,"(2399483432, 2190510158, 2147595163)",86,2,88
4263120,"(2399483560, 2190536830, 2147595728)",1,5,88
4263121,"(2399483406, 2190555188, 2147597695)",6,5,88
4263122,"(2399483115, 2190565142, 2147596243)",5,5,88
4263123,"(2399483101, 2190596521, 2147598990)",1,5,88
4263124,"(2399483224, 2190616088, 2147593141)",28,2,88
4263125,"(2399483406, 2190666200, 2147594821)",137,2,88
4263126,"(2399483273, 2190669672, 2147601419)",2,5,88
4263127,"(2399483223, 2190671039, 2147595010)",44,2,88
4263128,"(2399483284, 2190756430, 2147590363)",0,1,88
4263129,"(2399483606, 2190758299, 2147593241)",5,5,88
4263130,"(2399483186, 2190785302, 2147587596)",145,2,88
4263131,"(2399483515, 2190903726, 2147588647)",206,2,88
4263132,"(2399483225, 2190913192, 2147588351)",42,2,88
4263133,"(2399483249, 2191020057, 2147589494)",191,2,88
4263134,"(2399483394, 2191294548, 2147601894)",5,5,88
4263135,"(2399483126, 2191338451, 2147596264)",100,2,88
4263136,"(2399483047, 2191403190, 2147597091)",207,2,88
4263137,"(2399483179, 2191448465, 2147598424)",148,2,88
4263138,"(2399483451, 2191531343, 2147596828)",23,5,88
4263139,"(2399483158, 2191550181, 2147593420)",9,5,88
4263140,"(2399483054, 2191555613, 2147589519)",96,2,88
4263141,"(2399483440, 2191641812, 2147586031)",103,2,88
4263142,"(2399483175, 2191644484, 2147590251)",3,5,88
4263143,"(2399483343, 2191669000, 2147590553)",8,5,88
4263144,"(2399483260, 2191672140, 2147586970)",7,5,88
4263145,"(2399483357, 2191710551, 2147588351)",7,5,88

In [114]:
# Get the unique classification numbers
np.unique(data["classification"])

array([1, 2, 5], dtype=uint8)

In [120]:
# plot the classification numbers with different colors
coords1 = data["coords"][data["classification"] == 1]
coords2 = data["coords"][data["classification"] == 2]
coords5 = data["coords"][data["classification"] == 5]
print("N points: Class 1: {}".format(len(coords1)))
print("N points: Class 2: {}".format(len(coords2)))
print("N points: Class 5: {}".format(len(coords5)))

N points: Class 1: 497293
N points: Class 2: 2570519
N points: Class 5: 1195334

In [126]:
# Plot the classification points
X1 = coords1['x'][::10].astype(float)
Y1 = coords1['y'][::10].astype(float)
Z1 = coords1['z'][::10].astype(float) * 10 # need to give some height to this state
X1 = X1 - X1.min()
Y1 = Y1 - Y1.min()
Z1 = Z1 - Z1.min()

X2 = coords2['x'][::10].astype(float)
Y2 = coords2['y'][::10].astype(float)
Z2 = coords2['z'][::10].astype(float) * 10 # need to give some height to this state
X2 = X2 - X2.min()
Y2 = Y2 - Y2.min()
Z2 = Z2 - Z2.min()

X5 = coords5['x'][::10].astype(float)
Y5 = coords5['y'][::10].astype(float)
Z5 = coords5['z'][::10].astype(float) * 10 # need to give some height to this state
X5 = X5 - X5.min()
Y5 = Y5 - Y5.min()
Z5 = Z5 - Z5.min()

class_fig = p3d.figure(width=1000)
class_fig.xlabel='Y'
class_fig.ylabel='Z'
class_fig.zlabel='X'
c1_points = p3d.scatter(Y1, Z1, X1, color='blue', size=0.08)
c2_points = p3d.scatter(Y2, Z2, X2, color='red', size=0.08)
c5_points = p3d.scatter(Y5, Z5, X5, color='green', size=0.08)
class_fig.scatters.append(c1_points)
class_fig.scatters.append(c2_points)
class_fig.scatters.append(c5_points)
p3d.squarelim()
p3d.show()

VBox(children=(Figure(camera_center=[0.0, 0.0, 0.0], height=500, matrix_projection=[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], matrix_world=[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], scatters=[Scatter(color=array('blue', dtype='<U4'), color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([7345973., 5253105., 6540251., ..., 9960601., 6824258., 9023618.]), y=array([477460., 374410., 532880., ..., 379280., 305000., 426910.]), z=array([0.0000000e+00, 1.0270000e+03, 4.1900000e+02, ..., 1.6498328e+07,
       1.6499176e+07, 1.6499508e+07])), Scatter(color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([5086947., 6880442., 9245299., ..., 7792448., 8580577., 9801146.]), y=array([373070., 560590., 615540., ..., 247830., 508520., 377030.]), z=array([4.9000000e+01, 0.0000000e+00, 3.1000000e+01, ..., 1.6499560e+07,
       1.6499451e+07, 1.6499447e+07])), Scatter(color=array('green', dtype='<U5'), color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([ 8000373., 11495270.,  6401415., ...,  8183644.,  9329207.,
       10660426.]), y=array([652240., 555130., 477390., ..., 507850., 580100., 400280.]), z=array([0.0000000e+00, 2.2800000e+02, 8.4100000e+02, ..., 1.6499366e+07,
       1.6499703e+07, 1.6499418e+07])), Scatter(color=array('blue', dtype='<U4'), color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([7345973., 5253105., 6540251., ..., 9960601., 6824258., 9023618.]), y=array([477460., 374410., 532880., ..., 379280., 305000., 426910.]), z=array([0.0000000e+00, 1.0270000e+03, 4.1900000e+02, ..., 1.6498328e+07,
       1.6499176e+07, 1.6499508e+07])), Scatter(color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([5086947., 6880442., 9245299., ..., 7792448., 8580577., 9801146.]), y=array([373070., 560590., 615540., ..., 247830., 508520., 377030.]), z=array([4.9000000e+01, 0.0000000e+00, 3.1000000e+01, ..., 1.6499560e+07,
       1.6499451e+07, 1.6499447e+07])), Scatter(color=array('green', dtype='<U5'), color_selected=array('white', dtype='<U5'), size=array(0.08), size_selected=array(2.6), x=array([ 8000373., 11495270.,  6401415., ...,  8183644.,  9329207.,
       10660426.]), y=array([652240., 555130., 477390., ..., 507850., 580100., 400280.]), z=array([0.0000000e+00, 2.2800000e+02, 8.4100000e+02, ..., 1.6499366e+07,
       1.6499703e+07, 1.6499418e+07]))], style={'axes': {'visible': True, 'label': {'color': 'black'}, 'ticklabel': {'color': 'black'}, 'color': 'black'}, 'box': {'visible': True}, 'background-color': 'white'}, tf=None, width=1000, xlabel='Y', xlim=[-1500184.5, 14999605.5], ylabel='Z', ylim=[-7847725.0, 8652065.0], zlabel='X', zlim=[0.0, 16499790.0]),))